.equipmentlist-container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2,(1fr 1fr));
    background: gray;
}
.cards-grid{
    align-items: center;
    justify-items: center;
    border: 2px solid green;
    margin: 8px;
    background: yellowgreen;
    ul{
        list-style: none;
        line-height: 3rem;
    }
}