
/* Global futuristic background */
body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: rgb(99, 9, 9);
  font-family: Inter, sans-serif;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  padding: 0px 20px;
  min-height: 100vh;
  margin-top: 20px;
  background: url('/src/assets/images/bg-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center; 
  background-size: cover; 
}

/* Left Content */
.hero-content h1 {
  font-size: 48px;
  font-weight: 800;


}
.srh-section{
  justify-items: center;
}

.hero-content p {
  margin-top: 12px;
  font-size: 18px;
  color: #94a3b8;
}

/* Search */
.search-box {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search-box input {
  padding: 12px;
  width: 320px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 12px 24px;
  border-radius: 12px;
  background: #3b82f6;
  border: none;
  color: rgb(238, 236, 236);
  font-weight: bold;
  cursor: pointer;
}

/* Stats Cards */
.stats {
  display: flex;
  gap: 1rem;
  margin-top: 30px;
}

.stat-card {
  background: rgba(255,255,255,0.08);
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  width: 25.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
ul{
  list-style: none;
  line-height: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  /* border: 2px solid black; */
}
.tick{
  color: #22c55e;
  font-weight: bolder;
}
}

.featured-instruments{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  text-align: center;

  h2{
    color: white;
  }

  .instrument{
  background: rgba(255,255,255,0.08);
  padding: 16px 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  /* width: 10rem;   */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
    ul{
      list-style: none;
      line-height: 3rem;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}



