header{
background: rgb(160, 20, 20);
    nav{
        background: blue;
        ul{
            list-style: none;
            display: flex;
            justify-content:flex-end;
            gap: 8rem;
        }
    }
}
.hero-section{
    background: #22ff59;
    justify-items: center;  

    .search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-box input {
  width: 300px;
  padding: 10px;
}
}
.stats-section{
    justify-items: center;
}
.testimonials{
    display: flex;
    overflow: hidden;

    .image-text{
        /* height: 10rem; */
        /* width: 10rem; */
        object-fit: cover;
    }
}