.email{
    height: 2rem;
}















































/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f8;
}

.login-form {
  background: white;
  padding: 32px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 24px;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  padding: 11px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 13px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #e431db;
}
span {
    color: red;
    text-decoration: underline black;
}
.skip{
    justify-items: center;
} */