/* Full screen center */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  font-family: Arial, sans-serif;
}

/* Card style */
.login-form {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* Title */
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form span {
  color: #ff0066;
}

/* Input fields */
.input-box {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.input-box:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 5px #667eea;
}

/* Error text */
.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Button */
.login-button {
  padding: 12px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #ff0066;
}















































/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f8;
}

.login-form {
  background: white;
  padding: 32px;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 24px;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  padding: 11px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 13px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #e431db;
}
span {
    color: red;
    text-decoration: underline black;
}
.skip{
    justify-items: center;
} */