body{
    background: white;
    justify-items: center;
    margin: 15rem;
}
.not{
    justify-items: center;
    height: 32rem;
    width: 77rem;
    .h1{
        color: rgb(10, 23, 99);
        font-size: 16rem;
        margin: 0;
        font-family: sans-serif;
        /* border: 2px solid black; */
} 
   .h3{
    color: black;
    margin: 0;
    margin-top: 1rem;
   }
   .para{
    color: gray;
    margin: 0;
    width: 25rem;
    line-height: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
   }
}


.btn{
    margin:  40% ;
    text-decoration: none;
    color: white;
    background: rgb(16, 16, 131);
    border-radius: 25px;
    padding: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    
}
