/* top link */
.top-link{
  margin-top: 0px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  /* border: #1b39bd solid 2px; */
  margin-bottom: 3rem;
  width: 100%;
  
  .link{
    border: #020617 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);     
    border-radius: 15px;
    overflow: hidden;
    width: 100%;

    .nav-icon{
      height: 8rem;
    }
    
    ul{
      display: flex;
      list-style: none;
      gap: 2rem;
      justify-content: flex-end;
      padding: 2rem;

      a{
        text-decoration: none;
        font-size: 1.1rem;
        letter-spacing: 2px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
.link a:hover {
  color: rgb(0, 0, 0);
}
